</body>
<footer class="page-footer">
  <div class="container">
    ©2013-2016 BeMo Academic Consulting Inc. All rights reserved. <a href="http://www.cdainterview.com/disclaimer-privacy-policy.html">Disclaimer & Privacy Policy</a> <a href="info@bemoacademicconsulting.com">Contact Us</a>

  <i href="https://www.facebook.com/bemoacademicconsulting" class="fa fa-facebook fa-4x"></i>
  <i href="https://twitter.com/BeMo_AC" class="fa fa-twitter fa-4x"></i>
  <img onclick="topFunction()" src="../images/up1.png" alt="Up Arrow" style=" position:absolute; padding-left:100px;">
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
